<Layouts.app flash={@flash}>
  <.header>
    Room {@room.id}
    <:subtitle>This is a room record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/rooms"}>
        <.icon name="hero-arrow-left" />
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Is active">{@room.is_active}</:item>
  </.list>
</Layouts.app>
