<Layouts.room_header />

<div class="flex flex-col items-center justify-center h-screen">
  <div id="campfire">
    <div id="wood">
      <span></span>
    </div>

    <div id="fire"></div>
  </div>
</div>
